@font-face {
	font-family:'panshao';
	src:url('//cdn.webfont.youziku.com/webfonts/nomal/100435/146/58d7313df629d80734bc1b0d.gif?r=38891453195');
	src:url('//cdn.webfont.youziku.com/webfonts/nomal/100435/146/58d7313df629d80734bc1b0d.gif?r=38891453195?#iefix') format('embedded-opentype'),url('//cdn.webfont.youziku.com/webfonts/nomal/100435/146/58d7313df629d80734bc1b0d.bmp?r=38891453195') format('woff'),url('//cdn.webfont.youziku.com/webfonts/nomal/100435/146/58d7313df629d80734bc1b0d.jpg?r=38891453195') format('truetype'),url('#STXingkai') format('svg');
}
