@import "reset";
@import "subimport";
@import "font";

.justified.icon {
  color: #fff;
  position: relative;
  align-self: center;
  width: r(40);
  height: r(10);
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.justified.icon:before {
  content: '';
  position: absolute;
  top: r(4);
  left: 0;
  width: r(40);
  height: r(10);
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}


.hidden {
  display: none;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white url('./assets/loading.svg') no-repeat center;
  border-radius: r(10);
  height: r(128);
  width: r(128);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.router-link-active {
  color: $primary-text-color;
  background-color: $accent-color;
}
.one-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.two-line {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.ts {
  text-shadow: 0 r(2) r(2) #a87e47;
}
.bs {
  box-shadow: 0 r(5) r(10) rgba(black, .15);
}
